{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image self.banner_image original as img %}

<section class="home-header">
    <div class="container h-100 align-items-center">
      <div class="row h-100 align-self-center">
        <div class="col my-auto text-center mh-100">
          <h2 class="curly text-vivid-green display-4 font-weight-bold">We love your business!</h2>
          <h1 class="poppins text-white display-3 font-weight-bold font-italic text-uppercase" style="margin-top: -30px;">COME SHOP TODAY</h1>
          <h3 class="poppins font-weight-lighter text-white-50 pb-5 smallish">Over 3000 plants with great offers!</h3>
        </div>
      </div>
    </div>
</section>
<section class="d-flex justify-content-center pt-4"> <!-- subtleleaves class for background-->
  <div class="container mx-2">
    <div class="row mt-4 ">
      <div class="col-sm-6 col-12">
        <div class="card text-white h-100 mb-3 backgroundset" style="background-image: url('{% static "plant4.jpg" %}')">
          <img class="card-img" src="{% static "greenhouse-plants.jpg" %}" alt="Plants" style="opacity: 0;">
          <div class="card-img-overlay">
            <h5 class="card-title text-info font-weight-bold align-middle">Sustainability is Our Passion</h5>
            <p class="card-text text-primary lead">We strive to be sustainable in<br> all aspects of our work.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12 d-none d-sm-block">
          <div class="col h-48">
            <div class="d-flex card text-white h-100 mb-3 backgroundset" style="background-image: url('{% static "plant3.jpg" %}')">
              {% comment %} <img class="card-img img-responsive h-100" src="{% static "greenhouse-plants.jpg" %}" alt="Plants"> {% endcomment %}
              <div class="card-img-overlay">
                <h5 class="card-title text-info font-weight-bold">The Plant Experts</h5>
                <p class="card-text text-primary lead">We'll answer any questions <br>you have!</p>
              </div>
            </div>
            <div class="card text-white h-100 mb-3 backgroundset" style="background-position: center bottom; background-image: url('{% static "plant2.jpg" %}')">
              {% comment %} <img class="card-img  img-responsive" src="{% static "plant2.jpg" %}" alt="Plants"> {% endcomment %}
              <div class="card-img-overlay">
                <h5 class="card-title text-info font-weight-bold">Modern Gardening <br>Products</h5>
                <p class="card-text text-primary lead">Rest assured, we have the best.</p>
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <h3 class="text-center font-weight-bold">Featured Products</h3>
      <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
  
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="{% static "poinsettia.jpg" %}" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content text-center">
									<h4>Jubilee Red</h4>
									
									{% comment %} <div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div> {% endcomment %}
								</div>						
							</div>
						</div>
						<div class="col-sm-4 col-xs-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="{% static "peterstar.jpg" %}" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content text-center">
									<h4>Peterstar White</h4>
									
									{% comment %} <div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div> {% endcomment %}
								</div>						
							</div>
						</div>		
						<div class="col-sm-4 col-xs-4">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="{% static "winterrose.jpg" %}" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content text-center">
									<h4>Winter Rose</h4>
									
									{% comment %} <div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div> {% endcomment %}
								</div>						
							</div>
						</div>								
					</div>
				</div>
			</div>
		</div>
    <hr class="mt-5">
    <div class="row text-center">
      <div class="services col-md-4 col-sm-6 mt-5">
        <div class="mb-2"><a href="#" class="no-text-decoration"><i class="icon-price-tags text-vivid-green"></i></a></div>
        <h5 class="sub_title my-2">Craft Marketplace</h5>
        <p class="text-muted">At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui.</p>
      </div>
      <div class="services col-md-4 col-sm-6 mt-5">
        <div class="mb-2"><a href="#" class="no-text-decoration"><i class="icon-leaf text-vivid-green"></i></a></div>
        <h5 class="sub_title my-2">Nursery</h5>
        <p class="text-muted">At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui.</p>
      </div>
      <div class="services col-md-4 col-sm-6 mt-5">
        <div class="mb-2"><a href="#" class="no-text-decoration"><i class="icon-droplet text-vivid-green"></i></a></div>
        <h5 class="sub_title my-2">Landscaping Services</h5>
        <p class="text-muted">At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui.</p>
      </div>
    </div>
  </div>
</section>
<section class="divider-parallax pt-3 mt-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for team_member in authors %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
        {% if forloop.first %}class="active" {% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for team_member in authors %}
      {% image team_member.photo fill-125x125 as avatar_image%}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <div class="carousel-caption justify-content-center align-items-center text-center">
          <img class="img-fluid img rounded-circle avatar" src="{{ avatar_image.url }}"
            alt="{{ team_member.role }} {{ team_member.name }}" role="presentation">
          <br>
          <p class="h4 poppins text-white font-weight-bold text-uppercase mt-4 pb-0 mb-0">{{ team_member.name }}</p>
          <p class="h5 text-vivid-green text-uppercase mt-0 curly">{{ team_member.role }}</p>
          <blockquote class="blockquote mx-5">
            <p class="mb-0">{{ team_member.presentation }}<br></p>
          </blockquote>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="container">
    <h3 class="poppins text-center mb-5">The Latest News</h3>
    <div class="row">
      <div class="col-12">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              {% for blog in page.blogs %}
              {% image blog.feed_image fill-290x195 as blog_image%}
              <div class="col-md-4 mb-3 d-flex">
                <div class="card flex-fill">
                  <a href="{% pageurl blog %}"> <img class="img-fluid w-100 h-100 hover-lighten"
                      alt="Navigate to {{ blog.title }}" src="{{ blog_image.url }}"></a>
                  <div class="card-body card-outline pb-1">
                    <h4 class="card-title">{{ blog.intro }}</h4>
                    <p class="card-text text-muted">{{ blog.body|richtext|truncatechars_html:50 }}</p>
                  </div>
                  <div class="d-flex justify-content-between card-footer card-outline"
                    style="background-color: white; border-top: none !important;">
                    <p class="text-muted pb-0 mb-0"><i class="fas fa-calendar-alt text-vivid-green mr-2"
                        style="font-size: 15px;"></i>{{ blog.date }}</p>
                    <a href="{% pageurl blog %}"><button class="btn p-0 pb-1 text-vivid-green">Read More</button><i
                        class="fas fa-arrow-circle-right text-vivid-green pl-2" style="font-size: 15px;"></i> </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}